node_modules
build
build-debug
build-dev
dist
publish
_cache
.cache

# misc
.DS_Store

tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.netlify

.gitmodules
.env.*

# Temporariy, swap & ignored files
pnpm-lock.*
package-lock.*
*.log
/log*.txt
/config-local.*
/*.session
*UNUSED
*~
.*.sw?
*.tmp
*.zip
*.tgz
