/.dependencygraph
/.git
/.github
/.history
/.husky
/.next
/.storybook
/.vscode
/__mocks__
/build
/coverage
/idea
/i18n
/node_modules
/public
/public-src
/publish
/types
/utils

/src/project-info.scss

package-lock.*
**/*_
