@use './variables' as *;

@mixin selfActiveLink {
  transition: all var(--transitionTimeMs);
  @media #{$hoverMediaRules} {
    &:hover {
      opacity: 0.75;
    }
  }
}

@mixin basicActiveLink {
  button,
  a {
    @include selfActiveLink;
  }
}

@mixin activeLink {
  @include basicActiveLink;
  button,
  a {
    @media #{$hoverMediaRules} {
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}

@mixin WithVisualColumn {
  .t195__imgsection {
    img {
      border-radius: 20px;
      border: 3px solid var(--themeRedColor);
      padding: 0;
    }
  }
  @media (width <= $mobileTreshold) {
    .t-container {
      display: flex;
      flex-direction: column;
    }
    .t-col {
      order: 2;
    }
    .t195__imgsection {
      order: 1;
    }
  }
}

@mixin SocialLinksWrapper($color: var(--primaryColor)) {
  .t-sociallinks__wrapper {
    list-style: none;
    // padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    li {
      display: inline-block;
      a {
        display: inline-block;
        svg {
          path {
            fill: $color;
          }
        }
      }
    }
  }
}
