@use 'sass:color';

// Core colors
$greenColor: #9a2;
$greenDarkColor: #672;
$goldColor: #fb0;
$goldDarkColor: #f90;
$blueLightColor: #3ae;
$blueDark3: #047;
$blueTintedColor: #135;
$blueTintedDarkenColor: color.adjust($blueTintedColor, $lightness: -2%);

// App colors...
$primaryColor: $blueTintedColor;

$themeAccentColor: $primaryColor;
$themeGrayColor: #333;

$textColor: #333;

$themeBgColor: $themeGrayColor;

// Social icons

$socialIconSize: 32px;
$socialIconSmallSize: 22px;

// Delays

$transitionTimeMs: 250ms;
$animationTimeMs: 500ms;
$disappearTimeMs: 1000ms;

// NavHeader

$navbarHeight: 72px;
$topMenuHeight: 72px;

// Fonts

$defaultFont: 'Tilda Sans', Arial, sans-serif;
$titleFont: 'Ponomar', Arial, sans-serif;
$defaultFontSize: 16px;

// Adaptive layouts...

$extraWideTreshold: 1400px;
$wideTreshold: 1200px;
$mobileTreshold: 960px;
$smallTreshold: 660px;

// Hover media constant, use like `@media #{$hoverMediaRules} { ... }`

$hoverMediaRules: '(hover: hover) and (pointer: fine)';
