@use '../variables' as *;

#allrecords .uc-Blog {
  .t-feed__col-grid__post-wrapper {
    border-radius: 10px;
    overflow: hidden;
    transition: all var(--transitionTimeMs);
    &:hover {
      opacity: 0.85;
    }
  }
}
