@use '../variables' as *;

/*! Footer */

.uc-Footer {
  @include activeLink;
  .t-sociallinks__item {
    // margin: 0 0.25em;
    svg {
      $size: 33px;
      width: $size;
      height: $size;
    }
  }
  /* // Sample for stylize of specific social link
   * a[href^="https://ozon.ru/"] {
   *   border: 1px solid red;
   * }
   */
}
