@use '../variables' as *;

#allrecords .uc-FooterSocials {
  @include activeLink;
  .t-sociallinks__item {
    margin: 0 0.25em;
  }
  /* // Sample for stylize of specific social link
   * a[href^="https://ozon.ru/"] {
   *   border: 1px solid red;
   * }
   */
  /*
  .t1058__row {
    border-bottom: 1px solid #fff;
    // Don't collapse block on narrow screens
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  */
}
