@use '../variables' as *;

// Must be visible for width > 960px ($mobileTreshold), may be switched off for dev time
#allrecords .uc-NavHeader {
  // Links...
  // @include basicActiveLink;

  width: 100%;

  &:not(.inited) {
    display: none;
  }

  .t-col {
    @media (width > calc($mobileTreshold + 100px)) {
      padding-left: 50px;
    }
  }
  .t-descr {
    max-width: 200px;
    line-height: 1.3;
  }

  a {
    color: $textColor;
  }
  @media (width <= $mobileTreshold) {
    background-color: $blueTintedColor !important;
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
    .t-menu-base__logo {
      display: none;
    }
    .t820 {
      display: flex;
      justify-content: center;
    }
    .t-container {
      display: block;
      width: auto;
    }
    .t-col {
      width: auto;
    }
    .t-descr {
      color: #fff;
    }
    // @if $isProd {
    //   // display: none;
    // } @else {
    //   border: 1px dashed pink; // DEBUG
    // }
  }
  @media (width > $mobileTreshold) {
    .t-menu-base__logo {
      padding-top: 8px;
      margin-left: 20px;
      img {
        max-width: 300px;
      }
    }
    .t820 {
      display: flex;
      align-items: center;
    }
    .t-container {
      display: flex;
      justify-content: center;
      margin-left: 20px;
    }
    .t-col {
      width: auto;
      margin-top: 0;
    }
  }
}
