@use '../variables' as *;

/*! NavHeader */

// Must be visible for width > 960px ($mobileTreshold), may be switched off for dev time
.uc-NavHeader {
  width: 100%;

  &:not(.inited) {
    display: none;
  }

  .t-col {
    @media (width > calc($mobileTreshold + 100px)) {
      padding-left: 50px;
    }
  }
  .t-descr {
    max-width: 200px;
    line-height: 1.3;
  }

  // Links
  #allrecords & .t-descr a {
    transition: all $transitionTimeMs;
    @media (width > $mobileTreshold) {
      color: $textColor;
    }
    @media (width <= $mobileTreshold) {
      color: #fff;
    }
    @media #{$hoverMediaRules} {
      &:hover {
        text-decoration: underline;
        color: $greenDarkColor;
        @media (width <= $mobileTreshold) {
          // Take it from the other menu items
          color: #fff;
          opacity: 0.7;
        }
      }
    }
  }

  // Mobile menu state
  @media (width <= $mobileTreshold) {
    background-color: $blueTintedColor !important;
    .t-menu-base__logo {
      display: none;
    }
    .t820 {
      display: flex;
      justify-content: center;
    }
    .t-container {
      display: block;
      width: auto;
    }
    .t-col {
      width: auto;
    }
    .t-descr {
      color: #fff;
    }
  }

  // Full-width size
  @media (width > $mobileTreshold) {
    .t-menu-base__logo {
      padding-top: 8px;
      margin-left: 20px;
      img {
        max-width: 300px;
      }
    }
    .t820 {
      display: flex;
      align-items: center;
    }
    .t-container {
      display: flex;
      justify-content: center;
      margin-left: 20px;
    }
    .t-col {
      width: auto;
      margin-top: 0;
    }
  }
}
