@use '../variables' as *;

/*! NavMenu */

.uc-NavMenu {
  overflow: hidden;
  // NOTE: It must be updated dynamically (see `NavMenu:updateNavMenuHeight`). Thise height values are just initial ones.
  height: 88px;
  @media (width > $mobileTreshold) {
    height: 177px;
  }
  // Links...
  @include basicActiveLink;
  .t-menu-base__logowrapper {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    @media (width > $mobileTreshold) {
      display: none;
    }
    #allrecords & .t-menu-base__imglogo {
      max-width: 100%;
      width: 200px;
    }
  }
  .t-menu-base__maincontainer > .t-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 50px;
    &:before,
    &:after {
      display: none;
    }
  }
}
