@use '../variables' as *;

#allrecords .uc-NavMenu {
  @media (width > $mobileTreshold) {
    // NOTE: It must be updated dynamically (see `NavMenu:updateNavMenuHeight`)
    height: 100px;
  }
  // Links...
  @include basicActiveLink;
  .t-menu-base__logowrapper {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    @media (width > $mobileTreshold) {
      display: none;
    }
    .t-menu-base__imglogo {
      width: 100%;
      max-width: 200px;
    }
  }
}
