@use '../variables' as *;

.uc-NavMenu {
  overflow: hidden;
  // NOTE: It must be updated dynamically (see `NavMenu:updateNavMenuHeight`). Thise height values are just initial ones.
  height: 88px;
  @media (width > $mobileTreshold) {
    height: 177px;
  }
  // Links...
  @include basicActiveLink;
  .t-menu-base__logowrapper {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    @media (width > $mobileTreshold) {
      display: none;
    }
    .t-menu-base__imglogo {
      width: 100%;
      max-width: 200px;
    }
  }
}
