@use 'sass:color';
@use '../variables' as *;

/*! Root */

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

// Misc styles
.opacity-50 {
  opacity: 0.5;
}

/* // NOTE: This doesn't work in production: it seems that Tilda has a kind of protection for its both label nodes and styles
 * // Bottom tilda banner
 * .t-tildalabel {
 *   background-color: $blueTintedDarkenColor; // color.adjust($blueTintedColor, $lightness: -2%);
 * }
 */

// Minor block fixes...

.uc-SoleHeader {
  padding-bottom: 0 !important;
}

.uc-Breadcrumbs {
  .t-menu__link-item {
    &,
    &:hover {
      color: #aaa;
    }
  }
  a {
    #allrecords &.t-menu__link-item:hover {
      color: $greenDarkColor !important;
      text-decoration: underline;
    }
  }
}

.uc-Visual {
  .t208__textwrapper {
    border-radius: 10px;
  }
}

// These used only as a resource for the hero section, see `src/Hero.ts`, `initCarrierAndDoves`
.uc-dove-left {
  display: none;
}
