@use 'sass:color';
@use '../variables' as *;

/*! Root */

body {
  // padding-top: $NavHeaderTotalHeight;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

// Misc styles
.opacity-50 {
  opacity: 0.5;
}

.t-tildalabel {
  background-color: color.adjust($blueTintedColor, $lightness: -2%);
}

.uc-SoleHeader {
  padding-bottom: 0 !important;
}
