@use 'sass:color';

@use '../variables' as *;

// Hide clonable source elements.
#t-footer {
  // Those tho are just service containers, their content should be used only in product item cards.
  .uc-ProductBadges,
  .uc-ProductActions {
    display: none;
  }
}

.uc-ProductBadges,
.uc-ProductActions {
  // margin: 0;
  // padding: 0 !important;
  .t142A__wrapper {
    justify-content: flex-start;
    padding: 0;
  }
}

#allrecords .js-store-product.js-product {
  // productNode root
  @include basicActiveLink;
  // Customize elements
  .t-name {
    font-size: 1.5rem;
  }
  .t-descr {
    font-size: 1.2rem;
  }
  .js-store-prod-name {
    font-size: 2rem;
  }
  .js-store-prod-all-text {
    font-size: 1.2rem;
  }
  // Articul
  .t-store__prod-popup__sku {
    margin-top: 0.75em;
  }
  // Hide the default 'buy' item (will be replaced by the custom one
  .t-store__prod-popup__btn-wrapper {
    display: none;
  }

  // Adjust mobile font sizes
  .MobileTitle {
    > div {
      margin: 0 20px;
    }
    margin-bottom: 40px;
    display: none;
  }
  @media (width <= $smallTreshold) {
    // Diplay top title instead of inner one
    .MobileTitle {
      display: block;
    }
    .t-store__prod-popup__col-right .t-store__prod-popup__title-wrapper {
      display: none;
    }
    .js-store-prod-name {
      font-size: 6vw;
    }
    .t-store__prod-popup__info {
      padding-top: 10px;
    }
    .js-product-controls-wrapper .t-descr,
    .t-store__prod-popup__sku,
    .t-store__tabs__button .t-name,
    .Buttons .t-btn,
    .js-store-prod-all-text,
    .js-store-prod-all-charcs,
    .t-store__tabs__content {
      font-size: 4vw;
    }
    .t-store__prod-popup__col-left,
    .t-store__prod-popup__col-right {
      .t-store__tabs__item-title {
        font-size: 4vw;
      }
    }
    .Buttons {
      padding: 0;
      .t142A__wraptwo {
        flex-direction: column;
      }
      .t-btn {
        flex: 1;
        padding: 15px;
      }
      &.Badges .t-btn {
        padding: 5px 15px;
      }
    }
    @media (width <= 560px) {
      .t-store__prod-popup__col-left .t-store__tabs__item {
        margin: 0 20px;
      }
    }
  }

  /* // UNUSED?
  .js-store-tabs {
    // Hide tabs at first
    opacity: 0;
    pointer-events: none;
  }
  .DetailsWrapper {
    margin: 1em 0;
    .t-descr {
      color: #999;
    }
  }
  .Variants {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    .Variant {
      border-radius: 7px;
      box-sizing: content-box;
      border: 2px solid transparent;
      transition: all var(--transitionTimeMs);
      &.Current {
        opacity: 0.5;
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
      img {
        background-color: #ccc;
        border: 2px solid transparent;
        transition: all var(--transitionTimeMs);
        display: block;
        height: 120px;
        width: auto;
        border-radius: 5px;
        overflow: hidden;
      }
    }
    .Variant.Current img,
    a.Variant:hover img {
      border: 2px solid $primaryColor;
    }
    .Variant.Current img {
      background-color: $primaryColor;
    }
  }
  // Buttons
  .t-store__prod-popup__btn-wrapper {
    a[data-social-id] {
      display: inline-block;
      vertical-align: middle;
      user-select: none;
      margin: 0 0.2em;
      &,
      & > svg {
        width: 45px;
        height: 45px;
      }
    }
  }
  */
}
