@use 'sass:color';
@use 'sass:math';

@use '../variables' as *;

// Hide clonable source elements.
#t-footer {
  // Those tho are just service containers, their content should be used only in product item cards.
  .uc-ProductBadges,
  .uc-ProductActions {
    display: none;
  }
}
// Adjust cloned buttons
.uc-ProductBadges,
.uc-ProductActions {
  .t142A__wrapper {
    justify-content: flex-start;
    padding: 0;
  }
}

// Product card
.js-store-product.js-product {
  // productNode root
  @include basicActiveLink;
  // Customize elements
  .t-name {
    font-size: 1.5rem;
  }
  .t-descr {
    font-size: 1.2rem;
  }
  .js-store-prod-name {
    font-size: 2rem;
  }
  .js-store-prod-all-text {
    font-size: 1.2rem;
  }
  // Articul
  .t-store__prod-popup__sku {
    margin-top: 0.75em;
  }
  // Hide the default 'buy' item (will be replaced by the custom one
  .t-store__prod-popup__btn-wrapper {
    display: none;
  }

  // Adjust mobile font sizes
  .MobileTitle {
    > div {
      margin: 0 20px;
    }
    margin-bottom: 40px;
    display: none;
  }
  .t-store__prod-popup__sku {
    opacity: 70%;
  }
  // Adjust preview column size
  @media (width <= $wideTreshold) {
    .t-slds__thumbsbullet-wrapper,
    .t-slds__main {
      @media (width <= $mobileTreshold) {
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }
    .t-slds__container,
    .t-slds__imgwrapper {
      @mixin setPortraitWidth($width) {
        width: $width; // 300px;
        height: math.div($width * 4, 3); // 400px;
      }
      @include setPortraitWidth(360px);
      @media (width <= $smallTreshold) {
        @include setPortraitWidth(280px);
      }
      @media (width <= $tinyTreshold) {
        @include setPortraitWidth(200px);
      }
    }
  }
  @media (width <= $smallTreshold) {
    .t-store__prod-popup__col-left {
      padding: 0 20px;
    }
    // Diplay top title instead of inner one
    .MobileTitle {
      display: block;
    }
    .t-store__prod-popup__col-right .t-store__prod-popup__title-wrapper {
      display: none;
    }
    .js-store-prod-name {
      font-size: 6vw;
    }
    .t-store__prod-popup__info {
      padding-top: 10px;
    }
    .js-product-controls-wrapper .t-descr,
    .t-store__prod-popup__sku,
    .t-store__tabs__button .t-name,
    .Buttons .t-btn,
    .js-store-prod-all-text,
    .js-store-prod-all-charcs,
    .t-store__tabs__content {
      font-size: 4vw;
    }
    .t-store__prod-popup__col-left,
    .t-store__prod-popup__col-right {
      .t-store__tabs__item-title {
        font-size: 4vw;
      }
    }
    .Buttons {
      padding: 0;
      .t-btn {
        flex: 1;
        padding: 15px;
      }
      &.Badges .t-btn {
        padding: 5px 15px;
      }
    }
    @media (width <= 560px) {
      .t-store__prod-popup__col-left .t-store__tabs__item {
        margin: 0 20px;
      }
    }
  }
}
