@use 'sass:color';

@use '../variables' as *;

#allrecords .js-store-product.js-product {
  @include basicActiveLink;
  .js-store-tabs {
    // Hide tabs at first
    opacity: 0;
    pointer-events: none;
  }
  .DetailsWrapper {
    margin: 1em 0;
    .t-descr {
      color: #999;
    }
  }
  .Variants {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    .Variant {
      border-radius: 7px;
      box-sizing: content-box;
      border: 2px solid transparent;
      transition: all var(--transitionTimeMs);
      &.Current {
        opacity: 0.5;
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
      img {
        background-color: #ccc;
        border: 2px solid transparent;
        transition: all var(--transitionTimeMs);
        display: block;
        height: 120px;
        width: auto;
        border-radius: 5px;
        overflow: hidden;
      }
    }
    .Variant.Current img,
    a.Variant:hover img {
      border: 2px solid $primaryColor;
    }
    .Variant.Current img {
      background-color: $primaryColor;
    }
  }
  // Buttons
  .t-store__prod-popup__btn-wrapper {
    a[data-social-id] {
      display: inline-block;
      vertical-align: middle;
      user-select: none;
      margin: 0 0.2em;
      &,
      & > svg {
        width: 45px;
        height: 45px;
      }
    }
  }
}
