@use '../variables' as *;

/*! SubPage */

@mixin activeButtonInner {
  background-color: $greenColor !important;
  opacity: 1;
}
@mixin activeButton {
  // border-radius: 100%;
  transition: all var(--transitionTimeMs);
  @media #{$hoverMediaRules} {
    &:hover {
      @include activeButtonInner;
    }
  }
}

#allrecords {
  /* .uc-SubPageHeader {
   *   @include basicActiveLink;
   *   // Page header with a 'Back' button
   *   .t-container {
   *     .t-col:nth-child(1) {
   *       font-size: 1.5em;
   *       text-transform: uppercase;
   *     }
   *     // t185__butwrapper
   *     .t-col:nth-child(2) {
   *       display: flex;
   *       @media (width > $mobileTreshold) {
   *         justify-content: flex-end;
   *       }
   *       .t-btn {
   *         border-radius: 5px;
   *         transition: all var(--transitionTimeMs);
   *         background-color: $themeBgColor;
   *         color: #fff;
   *         padding: 0.5em 2em;
   *         @include activeButton;
   *       }
   *     }
   *   }
   * }
   */

  // Adjust whole product card layout
  .t-store.t-store__prod-snippet__container {
    padding-top: 50px;
  }

  // Inner product card
  .js-store-product.js-product {
    // @include basicActiveLink;
    .t-slds__arrow {
      transition: all var(--transitionTimeMs);
      @media #{$hoverMediaRules} {
        &:hover {
          background-color: $greenColor !important;
          opacity: 1;
        }
      }
    }
    .t-btn {
      transition: all var(--transitionTimeMs);
      @media #{$hoverMediaRules} {
        &:hover {
          background-color: $greenColor !important;
          opacity: 1;
        }
      }
    }
    // Product price
    .js-product-price {
      font-size: 2em;
    }
    .js-product-price,
    .t-store__prod-popup__price-currency {
      vertical-align: baseline;
    }
  }

  // Product images
  .t-slds__main,
  .t-slds__container,
  .t-slds__bgimg {
    @media (width <= $smallTreshold) {
      border-radius: 0;
    }
    @media (width > $smallTreshold) {
      border-radius: 10px;
    }
  }
  .t-slds__thumbsbullet,
  .t-slds__thumbsbullet-border,
  .t-slds__thumbsbullet .t-slds__bgimg {
    border-radius: 5px;
  }
  .t-slds__bullet_active .t-slds__thumbsbullet-border {
    border-color: $greenColor;
  }

  // Blog (news and articles) post image
  .t-feed__post-popup {
    .t-feed__post-popup__cover-wrapper {
      img {
        border-radius: 10px;
      }
    }
  }
}

.t-popup__close-wrapper,
.t706__close-button {
  border-radius: 100%;
  @include activeButton;
}

/* // Search widget close
 * .t985__close-icon {
 *   padding: 0.5em;
 *   border-radius: 100%;
 *   @include activeButton;
 * }
 */

// Carousel popup controls
.t-zoomer__wrapper {
  .t-zoomer__scale,
  .t-zoomer__close {
    border-radius: 100%;
    @include activeButton;
  }
  .t-carousel__zoomer__control {
    &,
    .t-carousel__zoomer__arrow__wrapper,
    .t-carousel__zoomer__arrow__wrapper:before {
      transition: all var(--transitionTimeMs);
      border-radius: 100%;
    }
    @media #{$hoverMediaRules} {
      &:hover {
        opacity: 1;
        .t-carousel__zoomer__arrow__wrapper {
          &:before {
            background-color: $greenColor !important;
          }
        }
      }
    }
  }
  // Image
  .t-carousel__zoomer__img {
    border-radius: 10px;
  }
}
